/* Common Custom Button Styling */
.custom-button {
    position:relative;
    margin: 10px auto;
    width: 100%;
    height: 65px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    text-align: center;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #fff, #f0f0f0);
    background-position-y: 50% ;
}

.custom-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-position-y: 80% ;
}

.custom-button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.prestige-area {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    text-align: center;
    column-gap: 5px;
    row-gap: 5px;
}
/* Prestige Button Styling */
#prestigeButton.custom-button {
    border-color: rgb(255, 160, 87);
    color: orange;
    background-image: url('imgs/textures/prestige-button.png');
}

#prestigeButton.custom-button:hover {
    border-color: rgb(255, 209, 122);
    color: rgb(255, 227, 175);
    background-image: url('/imgs/textures/prestige-button.png');
    box-shadow: 0px 0px 7px 5px rgb(199, 155, 72), 0px 0px 7px 3px rgb(146, 115, 57) inset;

}

/* Ascend Button Styling */
#ascendButton.custom-button {
    border-color: lightskyblue;
    color: lightseagreen;
    background-image: url('/imgs/textures/god-mode-button.png');
}

#ascendButton.custom-button:hover {
    border-color: rgb(122, 173, 255);
    color: rgb(175, 182, 255);
    background-image: url('/imgs/textures/god-mode-button.png');
    box-shadow: 0px 0px 7px 5px rgb(93, 143, 174), 0px 0px 7px 3px rgb(100, 153, 186) inset;
}

/* Transcend Button Styling */
#transcendButton.custom-button {
    border-color: #9449b3;
    color: #b64fe3;
    background-image: url('/imgs/textures/parrallel-god-mode-button.png');
}

#transcendButton.custom-button:hover {
    border-color: #9449b3;
    color: #d2a3e7;
    background-image: url('/imgs/textures/parrallel-god-mode-button.png');
    box-shadow: 0px 0px 7px 5px #783992, 0px 0px 7px 3px #7d3d98 inset;
}

/* Big Crunch Button Styling */
#bigCrunchButton.custom-button {
    color: #ff5233;
    border-color: #ff7a62;
    background-image: url('/imgs/textures/big-crunch-button.png');
}

#bigCrunchButton.custom-button:hover {
    border-color: #ff8558;
    color: #ffad8f;
    background-image: url('/imgs/textures/big-crunch-button.png');
    box-shadow: 0px 0px 7px 5px #a4421e, 0px 0px 7px 3px #a73c15 inset;
}


.prestige-multiplier-text {
    font-size: 1em;
    color: #ffd700; /* Gold color */
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s ease;
    text-shadow: 0 0 3px #ff8c00, 0 0 5px #ffa500, 0 0 7px #ffff99;
}
.god-mode-text {
    font-size: 1em;
    color: rgb(216, 245, 255);
    font-weight: bold;
    text-shadow: 0 0 3px #00ffff, 0 0 5px #55ffff, 0 0 7px #b0ebff;
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s ease;
}

.pu-god-text {
    font-size: 1em;
    color: rgb(228, 190, 255);
    font-weight: bold;
    text-shadow: 
        0 0 3px #6889ee,  /* First layer of purple glow */
        0 0 5px #6883ee,  /* Second layer of purple glow */
        0 0 7px #8400ff,  /* Third layer with a slightly lighter shade */
        0 0 8px #8c23ef;  /* Fourth layer with a slightly lighter shade */
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s ease;
}


.big-crunch-text {
    font-size: 1em; /* Slightly bigger font size */
    color: rgb(247, 247, 247);
    font-weight: bold;
    text-shadow: 
        0 0 3px #ff4500,  /* First layer of orange-red glow */
        0 0 5px #ff6d37,  /* Second layer of orange-red glow */
        0 0 7px #ff9d79,  /* Third layer of orange-red glow */
        0 0 8px #ffab9d;  /* Fourth layer with a slightly lighter shade */
    margin-top: 10px;
    text-align: center;
    transition: all 0.5s ease;
}
.small-info-text {
    font-size: 11px;
    color: rgb(155, 155, 155)
}
/* Library button specific styles */
#libraryButton {
    background-color: #8B4513; /* SaddleBrown */
    color: #fff;
    font-family: 'Uncial Antiqua', 'Georgia', serif; /* Updated font */
    font-size: 23px;
    padding: 12px 24px;
    border: 2px solid #291604; /* Darker brown for border */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); /* Larger shadow */
    transition: all 0.4s ease; /* Smoother and slower transition */
    text-shadow: 2px 2px 4px #000; /* Enhanced text shadow */
    background-image: url('imgs/textures/rustic_wood.jpg'); /* Add a path to a rustic texture image */
    background-size: cover;
    background-blend-mode: multiply;
    text-shadow: 2px 2px 4px #000;
}

#libraryButton:hover {
    background-color: #A0522D; /* Sienna */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Even larger shadow on hover */
    transform: translateY(-5px) scale(1.05); /* More noticeable lift and slight scaling */
}

#libraryButton:active {
    background-color: #8B4513; /* SaddleBrown */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); /* Slightly smaller shadow on click */
    transform: translateY(2px) scale(0.98); /* Slight push down and minor scale down */
}

/* Power Hall button specific styles */
#powerHallButton {
    background-color: #1a1a1a; /* Dark gray */
    color: #ffcc00; /* Bright gold */
    font-family: 'Impact', 'Arial Black', sans-serif; /* Bold, powerful font */
    font-size: 32px;
    padding: 0;
    border: 3px solid #333300; /* Dark gold for border */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    text-shadow: 3px 3px 6px #000;
    background-image: url('imgs/textures/power2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 800 / 150;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-blend-mode: overlay;
}

#powerHallButton:hover {
    background-color: #333300; /* Dark gold on hover */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7); /* Larger shadow on hover */
    transform: translateY(-7px) scale(1.08); /* More noticeable lift and scaling */
}

#powerHallButton:active {
    background-color: #1a1a1a; /* Return to dark gray on click */
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.5); /* Slightly smaller shadow on click */
    transform: translateY(3px) scale(0.96); /* Slight push down and scale down */
}