/* Settings Overlay */
.settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Match modal background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.settings-overlay-content {
    background-color: #1e1e1e; /* Dark background */
    padding: 20px;
    border: 1px solid #333; /* Dark border */
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Ensure it fits nicely */
    max-height: 80%; /* Ensure it fits nicely */
    text-align: center;
    position: relative;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif; /* Consistent font */
    overflow-y: auto; /* Enable scrolling within the content */
}

/* Close Button */
.close-button {
    color: #e0e0e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.settings-note,
.discord-note {
    font-size: 14px;
    color: #bdbdbd; /* Lighter text color for notes */
    margin-bottom: 20px;
}

.settings-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.settings-checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.settings-section {
    margin-bottom: 30px;
}

.settings-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between icon and text */
    padding: 8px 12px;  /* Adjust padding for a tighter fit */
}

.settings-buttons button img {
    width: 20px;  /* Adjust width to fit the button */
    height: 20px; /* Adjust height to fit the button */
    margin-right: 10px; /* Add some space between the icon and text */
    vertical-align: middle; /* Align the icon with the text */
}

.two-columns {
    display: flex;
    flex-direction: row; /* Ensures the columns are side by side */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top of the columns */
    gap: 20px; /* Add spacing between columns */
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%; /* Ensure equal space for both columns */
}

/* Discord Button */
#discordButton {
    background: none;
    border: 2px solid #7289DA; /* Add border around the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    padding: 10px;
    margin: 20px 0;
    width: 100%; /* Full width button */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#discordButton img {
    width: 100px; /* Adjust size to fit nicely */
    height: auto;
}

#discordButton:hover {
    background-color: rgba(114, 137, 218, 0.2); /* Light background on hover */
}

/* Donate Button */
#donateButton {
    background-color: #ffcc00; /* Yellow background */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* White text */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s, box-shadow 0.2s;
    position: relative;
    overflow: hidden;
}

/* Wiki Button */
#wikiButton {
    background-color: #331433; /* Theme color */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s, box-shadow 0.2s;
}

#wikiButton:hover {
    background-color: #5e285e; /* Slightly darker theme color on hover */
}

/* Degens Adventure Button */
#degensAdventureButton {
    background: repeating-linear-gradient(
        45deg,
        #1e1e1e,
        #1e1e1e 10px,
        #2a2a2a 10px,
        #2a2a2a 20px
    );
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    cursor: pointer;
    padding: 12px 20px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#degensAdventureButton:hover {
    background: repeating-linear-gradient(
        45deg,
        #2a2a2a,
        #2a2a2a 10px,
        #1e1e1e 10px,
        #1e1e1e 20px
    );
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}


#donateButton:hover {
    background-color: #e6b800; /* Darker yellow on hover */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.8), 0 0 20px rgba(255, 204, 0, 0.6);
}

/* Sparkle Effect */
#donateButton::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 20%),
                      radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, transparent 20%);
    background-size: 10px 10px;
    animation: sparkle 1.5s infinite linear;
}

@keyframes sparkle {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(100%) translateY(100%);
    }
}

/* Automation Overlay */
.automation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    overflow-y: auto; /* Allows vertical scrolling */
}

.automation-overlay-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center content inside */
}



/* Donation Overlay */
.donation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Match modal background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.donation-overlay-content {
    background-color: #1e1e1e; /* Dark background */
    padding: 20px;
    border: 1px solid #333; /* Dark border */
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Ensure it fits nicely */
    max-height: 80%; /* Ensure it fits nicely */
    text-align: center;
    position: relative;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    color: #e0e0e0; /* Light text color */
    font-family: Arial, sans-serif; /* Consistent font */
    overflow-y: auto; /* Enable scrolling within the content */
}

/* Donate Small Button */
#donateSmallButton {
    background-color: #e6b800; /* Yellow background */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s;
    animation: grow 3s infinite; /* Continuous grow animation */
}

#donateSmallButton:hover {
    background-color: #b38f00; /* Darker yellow on hover */
    transform: scale(1.1); /* Slightly grow on hover */
}

/* Donate Medium Button */
#donateMediumButton {
    background-color: #0073e6; /* Blue background */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s;
    color: white;
    animation: glow 2s infinite; /* Continuous glow animation */
}

#donateMediumButton:hover {
    background-color: #005bb5; /* Darker blue on hover */
}

/* Donate Large Button */
#donateLargeButton {
    background-color: #ff00cc; /* Pink background */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s;
    color: white;
    position: relative;
    overflow: hidden;
    animation: flutter 1s infinite; /* Continuous flutter animation */
}

#donateLargeButton:hover {
    background-color: #cc00aa; /* Darker pink on hover */
}

/* Keyframes for animations */

/* Grow animation for the small button */
@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

/* Glow animation for the medium button */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #0073e6;
    }
    50% {
        box-shadow: 0 0 20px #0073e6;
    }
    100% {
        box-shadow: 0 0 5px #0073e6;
    }
}

/* Flutter animation for the large button */
@keyframes flutter {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/* Feedback Button */
#feedbackButton {
    background-color: #4CAF50; /* Green background */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%; /* Full width button */
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white; /* White text */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.2s, box-shadow 0.2s;
    position: relative;
    overflow: hidden;
}

#feedbackButton:hover {
    background-color: #45a049; /* Darker green on hover */
}


/* Green Save Button */
.green-button {
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    margin-right: 10px; /* Space between buttons */
    transition: background-color 0.2s ease; /* Smooth transition */
}

.green-button:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Red Cancel Button */
.red-button {
    background-color: #dc3545; /* Red background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    font-size: 16px; /* Font size */
    transition: background-color 0.2s ease; /* Smooth transition */
}

.red-button:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Container for the three-way toggle and label */
.three-way-toggle-container {
    display: flex;
    align-items: center; /* Align vertically in the center */
    justify-content: center; /* Add space between the label and the toggle */
    margin-bottom: 15px;
}

/* Label for the toggle */
.three-way-toggle-label {
    margin-right: 10px; /* Add some space between the label and the toggle */
    font-size: 14px; /* Adjust font size if needed */
}

/* Container for the three-way toggle */
.three-way-toggle {
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc; /* Neutral state background color */
    border-radius: 20px;
    cursor: pointer; /* Make the cursor a pointer to indicate it's clickable */
}

/* Hide the radio buttons */
.three-way-toggle input[type="radio"] {
    display: none;
}

/* Slider */
.three-way-toggle .slider {
    position: relative;
    width: 19px;
    height: 19px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


/* Neutral state */
input[type="radio"]#toggleBuyMarkersNeutral:checked ~ .slider {
    transform: translateX(50%); /* Centered */
    background-color: white; /* Gray for neutral */
}

/* Remove the inner white dot */
.three-way-toggle .slider::before {
    content: '';
    position: absolute;
    width: 0; /* Set to 0 to remove the white dot */
    height: 0;
    background-color: transparent; /* Make it invisible */
    border-radius: 50%;
}



.automation-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    white-space: nowrap;
    width: 100%;
    color: #ffffff;
    background-color: #a09f9f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.automation-button:hover {
    background-color: #2c2c2c;  /* Slightly darker gray on hover */
}

.automation-button .square {
    position: absolute;
    width: 20px;  /* Square size */
    height: 20px;
    top: 50%;  /* Vertically center the squares */
    transform: translateY(-50%);
    animation: moveSquare 10s linear infinite;  /* Slower animation */
    z-index: 0;  /* Ensure squares are behind the text */
    opacity: 0.7;  /* Slight transparency for a subtle effect */
}

.automation-button .square:nth-child(1) {
    background-color: #b58900;  /* Dull yellow */
    left: -40px;
    animation-delay: 0s;
}

.automation-button .square:nth-child(2) {
    background-color: #cb4b16;  /* Dull red */
    left: -40px;
    animation-delay: 1s;  /* Reduced delay */
}

.automation-button .square:nth-child(3) {
    background-color: #2aa198;  /* Dull teal */
    left: -40px;
    animation-delay: 2s;  /* Reduced delay */
}

.automation-button .square:nth-child(4) {
    background-color: #268bd2;  /* Dull blue */
    left: -40px;
    animation-delay: 3s;  /* Reduced delay */
}

.automation-button .square:nth-child(5) {
    background-color: #d33682;  /* Dull pink */
    left: -40px;
    animation-delay: 4s;  /* Reduced delay */
}

.automation-button .square:nth-child(6) {
    background-color: #859900;  /* Dull green */
    left: -40px;
    animation-delay: 5s;
}

.automation-button .square:nth-child(7) {
    background-color: #6c71c4;  /* Dull purple */
    left: -40px;
    animation-delay: 6s;
}

.automation-button .square:nth-child(8) {
    background-color: #dd5856;  /* Dull crimson */
    left: -40px;
    animation-delay: 7s;
}

.automation-button .square:nth-child(9) {
    background-color: #2aa198;  /* Dull turquoise */
    left: -40px;
    animation-delay: 8s;
}

.automation-button .square:nth-child(10) {
    background-color: #101111;  /* Dull turquoise */
    left: -40px;
    animation-delay: 9s;
}

@keyframes moveSquare {
    0% {
        transform: translateX(-100%) translateY(-50%);  /* Start off-screen */
    }
    100% {
        transform: translateX(1200px) translateY(-50%);  /* Move across the button and reset */
    }
}


/* Import File Input */
#importFileInput {
    display: none;
}
